@font-face {
    font-family: SabonLTStd-Italic;
    src: url(../Sabon/SabonLTStd-Italic.otf);
}
@font-face {
    font-family: ALRIGHTSANS;
    src: url(../AlrightSans/ALRIGHTSANS-MEDIUM-V3.OTF);
}
*{
    -webkit-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;

}
body {
  margin: 0;
  background: #000; 
  overflow: hidden;
  height: 100%;
}
header{
  position: relative;
  height: 200px;
  font-family: ALRIGHTSANS;
}
header nav{
  position: absolute;
  right:100px;
  top: 100px;
}
header nav ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
header nav ul li{
  float: right;
  margin-right:20px;
}

header section{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 50px;
}

header a#logo{
  position: absolute;
  display: block;
  top:100px;
  width:100px;
  left: 100px;
  color:black;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
video#previews { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  visibility: hidden;
}
.dragscroll{width: 100%;  overflow: scroll; }
.dragscroll::-webkit-scrollbar { 
    display: none; 
}
#countriesList{
  position: relative;
}
.stopfade { 
   opacity: .5;
}

#slider { 
  text-align: center;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  color: white;
  width: 100%;
  font-size: 1.2rem;
  top:200px;
  /* Firefox */
height: -moz-calc(100% - 200px);
/* WebKit */
height: -webkit-calc(100% - 200px);
/* Opera */
height: -o-calc(100% - 200px);
/* Standard */
height: calc(100% - 200px);
 overflow: scroll; position: absolute;
}
#slider ul{
  padding: 0px;
}
#slider li {
  list-style: none;
  margin: 0 auto;
  font-size: 3rem;
  letter-spacing: .3rem;
  padding-bottom: 50px;
  font-family: ALRIGHTSANS;
}
#slider li .title{
  height: 70px;
  font-size: 40px;
  text-transform: uppercase;
}
#slider li .country{
       letter-spacing: -0.8px;
  margin-top: -10px;
  font-size: 15px;
  font-family: SabonLTStd-Italic;
}
iframe{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  visibility: hidden;

}
#fadeBlack{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-color: black;
  display: none;
  overflow: hidden;
}
#fadeWhite{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-color: white;
  display: none;
  overflow: hidden;
}
#iframeHeader{
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  height: 40px;
  visibility: hidden;
  border-bottom: 2px solid #343434;
}
.transparent_ {
    -webkit-animation: fadeout 0.3s linear forwards;
    animation: fadeout 0.3s linear forwards;
}
.transparent_block{
    -webkit-animation: fadein 0.3s linear forwards;
    animation: fadein 0.3s linear forwards;
}
@keyframes fadeout {
  100% { 
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

        /* IE 5-7 */
        filter: alpha(opacity=20);

        /* Netscape */
        -moz-opacity: 0.2;

        /* Safari 1.x */
        -khtml-opacity: 0.2;

        /* Good browsers */
        opacity: 0.2;

        height: 40px;
   }
  0% {   /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

        /* IE 5-7 */
        filter: alpha(opacity=80);

        /* Netscape */
        -moz-opacity: 0.8;

        /* Safari 1.x */
        -khtml-opacity: 0.8;

        /* Good browsers */
        opacity: 0.8;

        height: 300px;
   }
}
@keyframes fadein {
  0% { 
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

        /* IE 5-7 */
        filter: alpha(opacity=20);

        /* Netscape */
        -moz-opacity: 0.2;

        /* Safari 1.x */
        -khtml-opacity: 0.2;

        /* Good browsers */
        opacity: 0.2;

        height: 40px;
   }
  100% {   /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

        /* IE 5-7 */
        filter: alpha(opacity=80);

        /* Netscape */
        -moz-opacity: 0.8;

        /* Safari 1.x */
        -khtml-opacity: 0.8;

        /* Good browsers */
        opacity: 0.8;

        height: 300px;
   }
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}